@model IEnumerable<WebApplication1.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh Sách Tài Khoản</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Sdt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sdt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdAcc">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
