@model IEnumerable<WebApplication1.Models.HoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoaDonName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayLap)
            </th>
            <th>
               Tên Tài Khoản:
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoaDonName)
            </td>
                <td> @(item.GiaBan.ToString("N0", new System.Globalization.CultureInfo("vi-VN")) + " ₫")</td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayLap)
            </td>
                <td>
                    @item.Account.UserName
                </td>

           
            <td>
                    <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.IdHD">Edit</a>

            </td>
        </tr>
}
    </tbody>
</table>
